node_modules
.env
.env.development
.env.production
.wwebjs_auth
.wwebjs_cache
mysql-data
dist
**-ssh.pem
**.zip
backup.sql
**/prisma/**.db
**/prisma/**.db-wal
**/prisma/**.db-shm
**/prisma/migrations/**

# Ignore mount volumes
data/*